.button {
  font-size: 1rem;
  padding: .2rem 1rem;
  cursor: pointer;
  background-color: #faebd74f;
  border: 2px solid antiquewhite;
  border-radius: 5px;
}
.button:hover, .button:active {
  background-color: antiquewhite;
}