.detailed-card{
  background-color: #ffffff;
  border-radius: 5px;
  overflow: hidden;
}
.detailed-picture {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.detailed_link {
  padding-left: .5rem;
}
.detailed_link:hover, .detailed_link:active {
  color: #f34b4b;
}
.detailed-title {
  color: #f34b4b;
  padding: .5rem 0;
}
.detailed-description {
  font-size: 1rem;
  padding: 1rem 0;
  border-top: 1px solid antiquewhite;
}
.detailed-source {
  padding: .5rem 0;
  border-top: 1px solid antiquewhite;
  text-align: right;
  font-size: .9rem;
}