.item-card-news {
  background-color: #ffffff;
    border: 2px solid antiquewhite;
    border-radius: 5px;
    overflow: hidden;
}
.item-picture-news {
  width: 100%;
  height: 150px;
  object-fit: cover;
}
.item-container-news {
  padding: 10px;
  font-size: 1rem;
}
.news-link-news:hover {
  color: #f34b4b;
}
.item-title-news {
  color: #f34b4b;
  background-color: antiquewhite;
  height: 3rem;
  overflow: hidden;
}
.item-description-news {
  font-size: 0.9rem;
  height: 3rem;
  overflow: hidden;
}
